body{
    background:linear-gradient(to right, rgb(120, 188, 120), rgb(131, 131, 215), rgb(194, 120, 120)) ;
    width: 100%;
}

.container{
    width: 200px;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    margin: auto;
    border: 10px;
    box-shadow: 0px 4px 5px yellow;
}

.stop-watch{
    color: black;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.starStopBtn, .resetBtn{
    width: 70px;
    padding: 5px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
}

.fa-solid{
    width: 20px;
}