body{
    background:linear-gradient(to right, rgb(120, 188, 120), rgb(131, 131, 215), rgb(194, 120, 120)) ;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
}

h1{
    color: crimson;
    text-align: center;
    text-decoration: underline;
}
.container{
    width: 80%;
    border: 1px solid white;
    margin: auto;
    display: flex;
}

.revealBtn{
    width: 50%;
    background-color: transparent;
    color: rgb(61, 21, 147);
    font-size: 25px;
    font-weight: bold;
    border: 1px solid rgb(61, 21, 147);
    justify-content: center;
    text-align: center;
    padding: 10%;
}

.hiddenBtn{
    padding: 2%;
    font-size: 18px;
    color:  rgb(61, 21, 147);
    display: none;
}

.hiddenBtn{
    display: none;
}

.hiddenBtn.revealBtn {
    display: block;
}