body{
    background: linear-gradient(to right,rgb(152, 181, 160), rgb(135, 150, 237), rgb(230, 83, 136) );
    font-family: Arial, Helvetica, sans-serif;
}

#form{
    width: 300px;
    margin: 20px auto ;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
}

 .form-button{
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    background-color: crimson;
    margin:10px auto;
    cursor: pointer;
    color: white;
    font-size: 22px;
    border: none;
}

.input-details input{
    border: 1px solid rgb(51, 186, 119);
    display: block;
    width: 90%;
    font: 20px;
    padding: 10px;
}