*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background:linear-gradient(to right, rgb(120, 188, 120), rgb(131, 131, 215), rgb(194, 120, 120)) ;
    width: 100%;
}

.bigContainerDiv{
    width: 70%;
    margin: auto;
    padding: 3%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    color: white;
}

.bigContainerDiv h1{
    background-color: crimson;
    border: 1px solid white;
    border-radius: 5px;
}

.contentDiv{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid crimson;
    border-radius: 5px;
    background-color: transparent;
}

.contentDiv button{
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: crimson;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}