body{
    background:linear-gradient(to right, rgb(120, 188, 120), rgb(131, 131, 215), rgb(194, 120, 120));
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px; 
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: darkred;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}